<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create a Post</title>
    </head>

    <body>
        <form action="create" method="post">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="link" placeholder="Link">
            <input type="text" name="creator" placeholder="Creator">
            <input type="text" name="description" placeholder="Description">
            <input type="text" name="subgroup" placeholder="Subgroup">
            <button>Create Post</button>
        </form>
    </body>
</html>