<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Posts</title>
    </head>

    <body>
        <% allPosts.forEach(post => { %>
         <p>Title: <%= post.title %></p>
         <p>Creator: <%= post.creator %></p>
         <p>Subgroup: <%= post.subgroup %></p>
         <br>
        <% }) %>
    </body>
</html>